@import '../../styles/variables';

.main-header {
    display: flex;

    position: sticky;
    top: 0.5rem;

    flex-direction: row;
    align-items: center;

    border: 1px solid $primary-color;

    background-color: white;

    a {
        color: inherit;
        text-decoration: none;
    }
}