@import '../../styles/variables';

.page_section{
    position: sticky;
    top: 5rem;

    max-height:  calc(100vh - 5rem);

    display: flex;
    flex-direction: column;
    
    border-radius: 4.5rem 4.5rem 0 0;
    padding: 2.5rem 1rem 3rem 1rem;

    &.primary {
        background-color: $primary-color-light;
        color: white;
    }
        
    &.secondary {
        background-color: $secondary-color-medium;
        color: white;
    }

    &.white {
        background-color: white;
    }

    &.center {
        align-items: center;
    }

    &.left {
        align-items: flex-start;
    }

    &.right {
        align-items: flex-end;
    }
 
    &:only-of-type {
        margin: 0;
        padding-bottom: 0;
    }

}

.page_section-header {
    background-color: inherit;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &.left {
        width: 100%;
       
    }

    &.right {
        width: 100%;
        flex-direction: row-reverse;
      
    }

}

.page_section-header-actions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    &.center {
        width: 100%;
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }
}

.page_section-content {
    width: 100%;
    // max-height: calc(100vh - 12rem);

    overflow: auto;
}