@import '../../styles/variables';

.page_section{
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;

    &.center {
        align-items: center;
    }

    &.left {
        align-items: flex-start;
    }

    &.right {
        align-items: flex-end;
    }

}

.page_section-header {
    min-height: 4.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &.left {
        width: 100%;
       
    }

    &.right {
        width: 100%;
        flex-direction: row-reverse;
      
    }
}

.page_section-header-actions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    &.center {
        width: 100%;
        // alternatively if buttons in line with title, then wrap below title, use: 
        // flex-grow: 1;
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }
}

.page_section-body {
    margin: 0;
    padding: 0.5rem;
    width: 100%;
}