@import '../../styles/variables';

.self-link{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;

    > .hash {

        &.h1{
            padding-top: 0.1rem;
            margin-left: 1rem;
        }

        &.h2{
            padding-top: 0.7rem;
            margin-left: 0;
        }

        &.h3{
            padding-top: 0;
            margin-left: 0.7rem;
        }

        &.h4{
            padding-top: 0.1rem;
            margin-left: 0.6rem;
        }
 
        &.h5{
            padding-top: 0.05rem;
            margin-left: 0.5rem;
        }
                
        color: $primary-color-medium;
        opacity: 0;

        transition: all 0.2s ease-in-out;
    }

    &:hover {
        > .hash {
            opacity: 100;
        }
    }

}