$primary-color: rebeccapurple;
$primary-color-medium: #D2B0F4;
$primary-color-light: #E4D2F5;
$secondary-color: deeppink;
$secondary-color-medium: #FFA1D4;
$secondary-color-light: #FCDDEC;

$text-on-primary: white;
$text-on-secondary: white;

$border-radius-sm: 0.3rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;

$shadow-button: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$shadow-button-hover: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$shadow-button-active: $shadow-button;

$shadow-card: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;


%button-base {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;

    border: 1px solid;
    border-radius: $border-radius-sm;

    box-shadow: $shadow-button;

    cursor: pointer;
    font-size: medium;
    font-weight: 600;

    transition: all 0.3s ease-in-out;

    outline: solid 0px;

    &:hover {        
        outline: solid 3px;
        
        box-shadow: $shadow-button-hover;
    }

    &:focus {        
        outline: solid 3px;
        
        box-shadow: $shadow-button-hover;
    }

    &:active {
        outline: solid 3px;
        
        box-shadow: $shadow-button-active;
    }

    &:disabled {
      cursor: not-allowed;
      outline: none;
      border: none;
      box-shadow: none;
    }
}

%nav-link {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;

    line-height: 3rem;

    border-bottom: 1px solid white;


    cursor: pointer;
    font-size: medium;
    font-weight: 600;

    transition: all 0.3s ease-in-out;

    &:hover {        

        border-color: $secondary-color;

    }

    &:focus {        

        border-color: $secondary-color;
        
    }

    &:active {

        color: $secondary-color;   
        border-color: $primary-color;

    }


    &:disabled {
      cursor: not-allowed;
      border: none;
      box-shadow: none;
    }
}


%h1 {
    color: $primary-color;
    font-size: xx-large;
}
  
%h2 {
color: $primary-color;
font-size: x-large;
font-weight: 600;
padding: 0.5rem;
}

%h3 {
color: $primary-color;
font-size: large;
}

%h4 {
color: $primary-color;
font-size: medium;
}

%h5 {
color: $primary-color;
font-size: small;
}

%help-text {
color: $primary-color;
font-size: x-small;
}

%button-primary {

    @extend %button-base;


    border-color:$secondary-color;
    background-color: $secondary-color;
    
    color: $text-on-secondary;

    &:hover {        
        color: $primary-color;

        outline-color: $secondary-color;
    }

    &:focus {        
        outline-color: $secondary-color;
    }

    &:active {
        border-color: $primary-color;
        background-color: $primary-color;

        color: $text-on-primary;

        outline-color: $primary-color;
    }

    &:disabled {
        background-color: lightgray;
        color: white;
    }

}

%button-secondary {

    @extend %button-base;


    border-color:$secondary-color;
    background-color: white;
    
    color: $secondary-color;

    &:hover {        
        background-color: $secondary-color-light;

        outline-color: $secondary-color;
    }

    &:focus {        
        outline-color: $secondary-color;
    }

    &:active {
        border-color: $secondary-color;
        background-color: $secondary-color-medium;

        color: $secondary-color;

        outline-color: $secondary-color;
    }

    &:disabled {
        border-color: gray;
        background-color: lightgray;
        color: gray;
    }

}

%check-input-as-button-primary {
    @extend %button-base;
    

    border-color: $secondary-color;    
    background-color: $secondary-color;
    
    color: $text-on-secondary;


    white-space: normal; 
    text-align: center;
    
    &:hover {        
        color: $primary-color;

        outline: $secondary-color solid 3px;
        
        box-shadow: $shadow-button-hover;
    }

    &:focus-within {        
        outline: $secondary-color solid 3px;
        
        box-shadow: $shadow-button-hover;
    }
    
    &:active {
        border-color: $primary-color;
        background-color: $primary-color;
        
        color: $text-on-primary;

        outline: $primary-color solid 3px;
        
        box-shadow: $shadow-button-active;
    }

    &.label_checked {
        border-color: $primary-color;
        background-color: $primary-color;

        color: $text-on-primary;
        
        box-shadow: $shadow-button;

        &:hover {
            color: $secondary-color;

            outline: $primary-color solid 3px;

            box-shadow: $shadow-button-hover;
        }
        &:focus-within {
            color: $text-on-primary;
            
            outline: $primary-color solid 3px;
            
            box-shadow: $shadow-button-hover;

            &:hover {
                color: $secondary-color;
            }
        }

        &:active {
            border-color: $secondary-color;
            background-color: $secondary-color;
            
            color: $text-on-secondary;
            
            outline: $secondary-color solid 3px;
            
            box-shadow: $shadow-button-active;
        }

        &.disabled {
            cursor: not-allowed;
            background-color: lightgray;
            color: white;
            outline: none;
            box-shadow: none;
        }
        
    }

    &.disabled {
        cursor: not-allowed;
        background-color: lightgray;
        color: white;
        outline: none;
        box-shadow: none;
    }

    input {
        @extend %screen-reader-only
    }
}

%check-input-as-button-secondary {
    @extend %button-base;
    

    border-color: $secondary-color;    
    background-color: white;
    
    color: $secondary-color;


    white-space: normal; 
    text-align: center;
    
    &:hover {        
        color: $secondary-color;
        background-color: $secondary-color-light;

        outline: $secondary-color solid 3px;
        
        box-shadow: $shadow-button-hover;
    }

    &:focus-within {        
        outline: $secondary-color solid 3px;
        background-color: $secondary-color-light;
        
        box-shadow: $shadow-button-hover;
    }
    
    &:active {
        border-color: $primary-color;
        background-color: $primary-color-medium;
        
        color: $primary-color;

        outline: $primary-color solid 3px;
        
        box-shadow: $shadow-button-active;
    }

    &.label_checked {
        border-color: $primary-color;
        background-color: $primary-color-light;

        color: $primary-color;
        
        box-shadow: $shadow-button;

        &:hover {
            color: $primary-color;
            background-color: $primary-color-medium;

            outline: $primary-color solid 3px;

            box-shadow: $shadow-button-hover;
        }

        &:focus-within {
            color: $primary-color;
            
            outline: $primary-color solid 3px;
            
            box-shadow: $shadow-button-hover;

        }

        &:active {
            border-color: $secondary-color;
            background-color: $secondary-color-medium;
            
            color: $secondary-color;
            
            outline: $secondary-color solid 3px;
            
            box-shadow: $shadow-button-active;
        }

        &.disabled {
            cursor: not-allowed;
            background-color: lightgray;
            color: white;
            outline: none;
            box-shadow: none;
        }
        
    }

    &.disabled {
        cursor: not-allowed;
        background-color: lightgray;
        color: white;
        outline: none;
        box-shadow: none;
    }

    input {
        @extend %screen-reader-only
    }
}


%primary-card {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: $shadow-card;

    &.clickable {
        cursor: pointer;
    }
    &.clickable:disabled  {
        cursor: not-allowed;
    }
    &.clickable:hover,
    &.clickable:focus,
    &.clickable:focus-within {
        background-color: $secondary-color-light;
    }
    &.clickable:active {
        background-color: $secondary-color-medium;
    }
    &.clickable:checked {
        background-color: $primary-color-light;
    }
} 

%unstyled-list {
    list-style: none;
    margin: 1rem 0;
    padding: 0;

    width: 100%;

    :first-child {
        margin-top: 0;
    }
}

%unstyled-list-item {
    margin: 0;
    padding: 0;
}

%unstyled-link {
    text-decoration: none;
}

%screen-reader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}

