@import '../../../styles/variables';


.title {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    padding: 0 0.5rem;
    margin: 1rem 0;

    &.center {
        align-items: center;  
        text-align: center;
        >aside {
            text-align: center;
        }
    }

    &.left {
        align-items: flex-start;
    }

    &.right {
        align-items: flex-end;  
        text-align: right;

        >aside {
            text-align: right;
        }    
    }
    
    > .help-text {
        @extend %help-text;

        font-weight: 600;
        margin: 0.3rem 0 0;
        padding: 0;
    }

    > h1,h2,h3,h4,h5,h6 {
        margin: 0;
        font-family: $fantasy-font;

    }

}

.self-link{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;

    margin: 0;
    padding: 0;
    
    text-decoration: none;

    > .hash {

        &.h1{
            padding-top: 0.1rem;
            margin-left: 1rem;
        }

        &.h2{
            padding-top: 0.7rem;
            margin-left: 0;
        }

        &.h3{
            padding-top: 0;
            margin-left: 0.7rem;
        }

        &.h4{
            padding-top: 0.1rem;
            margin-left: 0.6rem;
        }
 
        &.h5{
            padding-top: 0.05rem;
            margin-left: 0.5rem;
        }

                
        color: $primary-color-medium;
        opacity: 0;

        transition: all 0.2s ease-in-out;
    }

    &:hover,&:focus,&:active {
        > .hash {
            opacity: 100;
        }
    }

    > h1,h2,h3,h4,h5,h6 {
        margin: 0;
        font-family: $fantasy-font;

    }


    &.center {
        justify-items: center;
        justify-content: center;
    }

    &.right {
        flex-direction: row-reverse;
    }

}

